<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать производителя</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>Создать производителя</h1>
  <nav>
    <a href="/manufacturers" class="btn btn-primary">Назад к списку</a>
  </nav>
</header>
<main>
  <form action="/manufacturers" method="post">
    <div>
      <label for="name">Название производителя:</label>
      <input type="text" id="name" name="name" th:value="${manufacturer.name}" required>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Создать</button>
    </div>
  </form>
</main>
</body>
</html>
